<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <form action="/" method="POST">
            Username:
            <input type="text" name="name" required>
            Password:
            <input type="text" name="psw" required>
            <button type="submit">Register</button>
        </form>
        <p>{{msg}}</p>
    </body>
</html>