<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <form action="/me" method="POST">
            Username:
            <input type="text" name="name" required>
            Password:
            <input type="text" name="psw" required>
            <button type="submit">Login</button>
        </form>

        <p>{{msg}}</p>
    </body>
</html>