<!DOCTYPE html>
<html>
    <head>
        <title>NotFound</title>
        <link href="/style/style.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Not Found</p>
        </div>
        {{>footer}}
    </body>
</html>